
GotyeSDK/GotyeSDK/Lib/include/GotyeAPI.h

GotyeSDK/GotyeSDK/Lib/include/GotyeChatDelegate.h

GotyeSDK/亲加SDK开发者接入指南(iOS).docx

GotyeSDK/GotyeSDK/Lib/include/GotyeChatUnit.h

GotyeSDK/GotyeSDK/Lib/include/GotyeDownloadDelegate.h

GotyeSDK/GotyeSDK/Lib/include/GotyeGroup.h

GotyeSDK/GotyeSDK/Lib/include/GotyeGroupDelegate.h

GotyeSDK/GotyeSDK/Lib/include/GotyeImageObject.h

GotyeSDK/GotyeSDK/Lib/include/GotyeLoginDelegate.h

GotyeSDK/GotyeSDK/Lib/include/GotyeMediaObject.h

GotyeSDK/GotyeSDK/Lib/include/GotyeMessage.h

GotyeSDK/GotyeSDK/Lib/include/GotyePlaybackDelegate.h

GotyeSDK/GotyeSDK/Lib/include/GotyeRoom.h

GotyeSDK/GotyeSDK/Lib/include/GotyeRoomDelegate.h

GotyeSDK/GotyeSDK/Lib/include/GotyeStatusCode.h

GotyeSDK/GotyeSDK/Lib/include/GotyeUser.h

GotyeSDK/GotyeSDK/Lib/include/GotyeUserDelegate.h

GotyeSDK/GotyeSDK/Lib/include/GotyeVoiceObject.h

GotyeSDK/GotyeSDK/Lib/include/GotyeWhineMode.h

GotyeSDK/GotyeSDK/Lib/libGotyeAPI.a


GotyeSDK/GotyeSDK/Lib/include/GotyeCSDelegate.h

GotyeSDK/GotyeSDK/Lib/include/GotyeGroupNotification.h
